Repository FightPandemics/FightPandemics, pull requests merged in 2020-09, with the labels that each got.

#1486 Cypress test for Request Help questionnaire
  cypresse2e/cypress/elements/pages/requestHelpQuestion.js
  cypresse2e/cypress/integration/constants.js
  cypresse2e/cypress/integration/e2eTests/requestHelpQuestion/requestHelpQuestion.spec.js
Labels: e2eTests

#1492 Update Github Actions review workflows to support underscores in branch name
  .github/workflows/review-build-url.yml
  .github/workflows/review-delete-workflow.yml
  .github/workflows/review-workflow.yml
Labels: DevOps

#1479 Set up microservices CI/CD for notifications backend
  .editorconfig
  .github/workflows/production-notification-service.yml
  .github/workflows/production-workflow.yml
  .github/workflows/review-notification-service.yml
  .github/workflows/review-workflow.yml
  .github/workflows/staging-notification-service.yml
  .github/workflows/staging-workflow.yml
  services/notification/deploy/lambda.tf
  services/notification/deploy/main.tf
  services/notification/deploy/role.tf
  services/notification/deploy/security-group.tf
  services/notification/deploy/vpc.tf
  services/notification/src/.eslintrc
  services/notification/src/.nvmrc
  services/notification/src/lambda.js
  services/notification/src/local.js
  services/notification/src/package-lock.json
  services/notification/src/package.json
  services/notification/src/tests/test-notification.js
Labels: DevOps, p_Notifications

#1524 E2E Mocha tests - Fix failing mocha test by adding randomStringGenerator
  docker-compose.yml
  mocha/test/auth.test.js
  mocha/utils/randomStringGenerator.js
Labels: e2eTests

#1500 Cypress Automated Test for Feedback Modal and Additional Fixes for Various Tests
  cypresse2e/cypress.json
  cypresse2e/cypress/elements/pages/feedbackModal.js
  cypresse2e/cypress/elements/pages/requestHelpQuestion.js
  cypresse2e/cypress/integration/e2eTests/feedbackModal/feedbackModal.spec.js
  cypresse2e/cypress/integration/e2eTests/footer/footer.spec.js
  cypresse2e/cypress/integration/e2eTests/requestHelpQuestion/requestHelpQuestion.spec.js
  cypresse2e/cypress/integration/e2eTests/signIn/signIn.spec.js
  cypresse2e/cypress/support/commands.js
  cypresse2e/cypress/support/index.js
Labels: e2eTests

#1535 Feature/1530 - Request/Offer help is now correctly added to filters
  client/src/components/Feed/FilterAccordion.js
  client/src/pages/Feed.js
Labels: bug

#1541 Change Fargate subnets to private
  terraform-task-module/locals.tf
  terraform-task-module/service.tf
Labels: DevOps

#1540 #1539 Avatar upload backend
  README.md
  backend/.env.example_docker
  backend/.env.example_local
  backend/config.js
  backend/lib/components/CDN/index.js
  backend/lib/components/CDN/s3/index.js
  backend/lib/endpoints/organisations.js
  backend/lib/endpoints/schema/organisations.js
  backend/lib/endpoints/schema/users.js
  backend/lib/endpoints/users.js
  backend/lib/index.js
  backend/package-lock.json
  backend/package.json
  docker-compose.yml
  localstack/create-s3-cdn.sh
  main.tf
Labels: BACKEND, p_Profile/Account

#1274 Feature/fixed list pagination
  client/.eslintrc.json
  client/package-lock.json
  client/package.json
  client/src/GlobalStyles.js
  client/src/components/Feed/Posts.js
  client/src/components/Profile/Activity.js
  client/src/hooks/reducers/feedReducers.js
  client/src/pages/Feed.js
  client/src/pages/OrganisationProfile.js
  client/src/pages/Profile.js
Labels: P4, p_Profile/Account

#1546 Restrict user avatar endpoint to authenticated user
  backend/lib/endpoints/schema/users.js
  backend/lib/endpoints/users.js
Labels: BACKEND, p_Profile/Account

#1552 Fix old avatar caching after updating with new avatar
  backend/lib/components/CDN/index.js
Labels: BACKEND, p_Profile/Account

#1550 Frontend e2e tests update for email error messages - RecoverPassword, Login, JoinIn page
  cypresse2e/cypress/integration/constants.js
  cypresse2e/cypress/integration/e2eTests/joinNow/joinNow.spec.js
  cypresse2e/cypress/integration/e2eTests/signIn/signIn.spec.js
Labels: e2eTests

#1533 Feature/cypress test offer help
  cypresse2e/cypress/elements/pages/offerHelpQuestionPage.js
  cypresse2e/cypress/integration/e2eTests/offerHelp/offerHelpQuestion.spec.js
Labels: e2eTests

#1557 Fix bug BACK button navigate to the previous page that user navigated
  client/src/components/StepWizard/WizardFormNav.js
Labels: bug

#1549 Backend e2e login endpoint tests
  mocha/test/auth.test.js
  mocha/test/login.test.js
  mocha/utils/apiEndpoints.js
  mocha/utils/apiHelper.js
  mocha/utils/testData.js
  mocha/utils/validators.js
Labels: e2eTests
