Repository FightPandemics/FightPandemics, pull requests merged in 2020-10, with the labels that each got.

#1580 #1579 Add Redis backend environment variables
  main.tf
Labels: DevOps

#1590 #1574 - Update global icon in the desktop and mobile
  client/src/assets/icons/globe-white.svg
  client/src/assets/icons/globe.svg
  client/src/components/Header.js
  client/src/templates/layouts/NavigationLayout.js
Labels: Desktop, FRONTEND, Mobile Web, P1 🔥, p_Internationalisation/Localisation

#1612 #1611 - Add GTM id to language switch button and menu
  client/src/components/Header.js
  client/src/constants/gtm-tags.js
  client/src/templates/layouts/NavigationLayout.js
Labels: BI, FRONTEND, Metrics, P1 🔥, p_Internationalisation/Localisation

#1563 #1561 - Fix Like Button on Profile/OrganizationProfile
  client/src/pages/OrganisationProfile.js
  client/src/pages/Profile.js
Labels: bug

#1646 fixed editing comment timestamp
  backend/lib/utils.js
  client/src/components/Feed/NestedComments.js
  client/src/locales/translations/en_US.json
Labels: Comment, Post

#1647 fixing some GTM tags
  client/src/components/Header.js
  client/src/components/Input/LocationInput.js
  client/src/components/Picture/UploadPic.js
  client/src/constants/gtm-tags.js
  client/src/pages/OrganisationProfile.js
  client/src/pages/Profile.js
  client/src/templates/layouts/NavigationLayout.js
Labels: BI, FRONTEND, Metrics, P1 🔥, p_HelpBoard, p_Onboarding/Registration

#1624 Feature/update e2e tests. Fix #1623
  cypresse2e/cypress/elements/pages/header.js
  cypresse2e/cypress/elements/pages/joinNow.js
  cypresse2e/cypress/elements/pages/offerHelpQuestionPage.js
  cypresse2e/cypress/elements/pages/recoverPassword.js
  cypresse2e/cypress/elements/pages/signIn.js
  cypresse2e/cypress/integration/e2eTests/feedbackModal/feedbackModal.spec.js
  cypresse2e/cypress/integration/e2eTests/header/header.spec.js
  cypresse2e/cypress/integration/e2eTests/joinNow/joinNow.spec.js
  cypresse2e/cypress/integration/e2eTests/offerHelp/offerHelpQuestion.spec.js
  cypresse2e/cypress/integration/e2eTests/recoverPassword/recoverPassword.spec.js
  cypresse2e/cypress/integration/e2eTests/requestHelpQuestion/requestHelpQuestion.spec.js
  cypresse2e/cypress/integration/e2eTests/signIn/signIn.spec.js
  cypresse2e/cypress/support/commands.js
  cypresse2e/cypress/support/index.js
Labels: e2eTests

#1544 Cypress test for Help Board Filter Panel
  cypresse2e/cypress/elements/pages/helpBoardFilterPanel.js
  cypresse2e/cypress/integration/e2eTests/helpBoardFilter/helpBoardFilterPanel.spec.js
Labels: e2eTests

#1662 Change file names related to Recover Password Cypress test
  cypresse2e/cypress/elements/pages/forgotPassword.js
  cypresse2e/cypress/integration/e2eTests/forgotPassword/forgotPassword.spec.js
Labels: e2eTests

#1639 #1426 Notification model
  backend/lib/models/Notification.js
Labels: p_Notifications

#1666 Feature/e2e tests internationalisation
  cypresse2e/cypress/elements/pages/header.js
  cypresse2e/cypress/integration/e2eTests/header/header.spec.js
  cypresse2e/cypress/support/commands.js
Labels: e2eTests

#1565 E2E tests - Help Board for unauthorised user
  cypresse2e/Dockerfile
  cypresse2e/cypress/elements/pages/helpBoard.js
  cypresse2e/cypress/elements/pages/post.js
  cypresse2e/cypress/integration/e2eTests/helpBoard/helpBoard.spec.js
  cypresse2e/cypress/integration/e2eTests/post/post.spec.js
  cypresse2e/cypress/support/commands.js
  cypresse2e/cypress/support/index.js
  cypresse2e/package-lock.json
  cypresse2e/package.json
Labels: e2eTests

#1675 Do not initialize GTM when a QA localStorage key is set
  client/src/index.js
  client/src/pages/ToggleQAMode.js
  client/src/routes.js
Labels: BI, Metrics, P1 🔥

#1693 Hotfix/search function issues
  client/src/components/Header.js
  client/src/components/Input/FeedSearch.js
  client/src/components/Input/LocationInput.js
  client/src/locales/translations/en_GB.json
  client/src/locales/translations/en_US.json
Labels: p_searchkeyword

#1674 Add Fixture Files for Cypress Tests
  cypresse2e/cypress/fixtures/buttonNames.json
  cypresse2e/cypress/fixtures/emailAndPassword.json
  cypresse2e/cypress/fixtures/errorMessages.json
  cypresse2e/cypress/fixtures/inputValues.json
  cypresse2e/cypress/integration/constants.js
  cypresse2e/cypress/integration/e2eTests/feedbackModal/feedbackModal.spec.js
  cypresse2e/cypress/integration/e2eTests/forgotPassword/forgotPassword.spec.js
  cypresse2e/cypress/integration/e2eTests/header/header.spec.js
  cypresse2e/cypress/integration/e2eTests/helpBoard/helpBoard.spec.js
  cypresse2e/cypress/integration/e2eTests/helpBoardFilter/helpBoardFilterPanel.spec.js
  cypresse2e/cypress/integration/e2eTests/home/homePage.spec.js
  cypresse2e/cypress/integration/e2eTests/joinNow/joinNow.spec.js
  cypresse2e/cypress/integration/e2eTests/offerHelp/offerHelpQuestion.spec.js
  cypresse2e/cypress/integration/e2eTests/post/post.spec.js
  cypresse2e/cypress/integration/e2eTests/requestHelp/requestHelpQuestion.spec.js
  cypresse2e/cypress/integration/e2eTests/signIn/signIn.spec.js
Labels: e2eTests

#1668 Modified Quit filters button to Clear filter button
  client/src/locales/translations/en_US.json
Labels: Frontend clean up

#1706 Cypress e2e - Add cookie banner/logo POM files and refactor tests
  cypresse2e/cypress/elements/pages/cookieBanner.js
  cypresse2e/cypress/elements/pages/feedbackModal.js
  cypresse2e/cypress/elements/pages/forgotPassword.js
  cypresse2e/cypress/elements/pages/fpLogo.js
  cypresse2e/cypress/elements/pages/header.js
  cypresse2e/cypress/elements/pages/helpBoard.js
  cypresse2e/cypress/elements/pages/helpBoardFilterPanel.js
  cypresse2e/cypress/elements/pages/homePage.js
  cypresse2e/cypress/elements/pages/joinNow.js
  cypresse2e/cypress/elements/pages/post.js
  cypresse2e/cypress/elements/pages/signIn.js
  cypresse2e/cypress/fixtures/errorMessages.json
  cypresse2e/cypress/integration/e2eTests/feedbackModal/feedbackModal.spec.js
  cypresse2e/cypress/integration/e2eTests/footer/footer.spec.js
  cypresse2e/cypress/integration/e2eTests/forgotPassword/forgotPassword.spec.js
  cypresse2e/cypress/integration/e2eTests/header/header.spec.js
  cypresse2e/cypress/integration/e2eTests/helpBoard/helpBoard.spec.js
  cypresse2e/cypress/integration/e2eTests/helpBoardFilter/helpBoardFilterPanel.spec.js
  cypresse2e/cypress/integration/e2eTests/home/homePage.spec.js
  cypresse2e/cypress/integration/e2eTests/joinNow/joinNow.spec.js
  cypresse2e/cypress/integration/e2eTests/signIn/signIn.spec.js
Labels: e2eTests

#1677 Feature/1427 notifications unsubscribe
  backend/config.js
  backend/lib/endpoints/schema/users.js
  backend/lib/endpoints/users.js
  backend/lib/models/NotifyPreference.js
  backend/lib/models/User.js
  client/src/components/Input/NotifyPreferenceInput.js
  client/src/locales/translations/en_GB.json
  client/src/locales/translations/en_US.json
  client/src/pages/EditAccount.js
  client/src/pages/EditNotifications.js
  client/src/pages/EditProfile.js
  client/src/pages/Profile.js
  client/src/pages/Unsubscribe.js
  client/src/routes.js
Labels: p_Notifications

#1710 changes in fixtures, joinNow.spec and command.js
  cypresse2e/cypress/fixtures/emailAndPassword.json
  cypresse2e/cypress/integration/e2eTests/joinNow/joinNow.spec.js
  cypresse2e/cypress/integration/e2eTests/signIn/signIn.spec.js
  cypresse2e/cypress/support/commands.js
Labels: e2eTests

#1721 Lokalise: Translations update
  client/src/locales/translations/pl.json
Labels: p_Internationalisation/Localisation

#1718 hotfix/1148-search
  client/src/components/Input/FeedSearch.js
Labels: bug, p_searchkeyword

#1717 E2E tests - add cypress prettier
  cypresse2e/.prettierrc
  cypresse2e/cypress/elements/pages/cookieBanner.js
  cypresse2e/cypress/elements/pages/feedbackModal.js
  cypresse2e/cypress/elements/pages/footer.js
  cypresse2e/cypress/elements/pages/forgotPassword.js
  cypresse2e/cypress/elements/pages/fpLogo.js
  cypresse2e/cypress/elements/pages/header.js
  cypresse2e/cypress/elements/pages/helpBoard.js
  cypresse2e/cypress/elements/pages/helpBoardFilterPanel.js
  cypresse2e/cypress/elements/pages/homePage.js
  cypresse2e/cypress/elements/pages/joinNow.js
  cypresse2e/cypress/elements/pages/offerHelpQuestionPage.js
  cypresse2e/cypress/elements/pages/post.js
  cypresse2e/cypress/elements/pages/requestHelpQuestion.js
  cypresse2e/cypress/elements/pages/signIn.js
  cypresse2e/cypress/fixtures/buttonNames.json
  cypresse2e/cypress/fixtures/emailAndPassword.json
  cypresse2e/cypress/fixtures/errorMessages.json
  cypresse2e/cypress/fixtures/inputValues.json
  cypresse2e/cypress/integration/e2eTests/feedbackModal/feedbackModal.spec.js
  cypresse2e/cypress/integration/e2eTests/footer/footer.spec.js
  cypresse2e/cypress/integration/e2eTests/forgotPassword/forgotPassword.spec.js
  cypresse2e/cypress/integration/e2eTests/header/header.spec.js
  cypresse2e/cypress/integration/e2eTests/helpBoard/helpBoard.spec.js
  cypresse2e/cypress/integration/e2eTests/helpBoardFilter/helpBoardFilterPanel.spec.js
  cypresse2e/cypress/integration/e2eTests/home/homePage.spec.js
  cypresse2e/cypress/integration/e2eTests/joinNow/joinNow.spec.js
  cypresse2e/cypress/integration/e2eTests/offerHelp/offerHelpQuestion.spec.js
  cypresse2e/cypress/integration/e2eTests/post/post.spec.js
  cypresse2e/cypress/integration/e2eTests/requestHelp/requestHelpQuestion.spec.js
  cypresse2e/cypress/integration/e2eTests/signIn/signIn.spec.js
  cypresse2e/cypress/plugins/index.js
  cypresse2e/cypress/support/commands.js
  cypresse2e/cypress/support/index.js
  cypresse2e/package-lock.json
  cypresse2e/package.json
Labels: e2eTests
